{% load static %}
<!--<?php-->
<!--session_start();-->
<!--if (isset($_SESSION['license_id']) && isset($_SESSION['driver_email']) && isset($_SESSION['driver_name']) && isset($_SESSION['home_address'])) {-->
<!--?>-->


<!DOCTYPE html>
<html>

<head>
    <title>Driver's Pending Fine | Driver</title>

    <!--Elements inside the head tag includes goes here-->
   {% include 'includes/header.html' %}

</head>


<body class="overlay-scrollbar">

    <!--Top navigation bar includes goes here-->
    {% include 'includes/topNav.html' %}


    <!--==================================================================================================================================SECTION_02====================================================================================================================================-->

    <!-- Left sidebar navigation start here =============================================-->
    <div class="leftsidebar overlay-scrollbar scrollbar-hover">
        <ul class="leftsidebar-nav overlay-scrollbar scrollbar-hover">
            <!--Left sidebar navigation items-->
            <li class="leftsidebar-nav-item">
                <a href="{% url 'user_dashboard' %}" class="leftsidebar-nav-link">
                    <div>
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="leftsidebar-nav-item">
                <a href="{% url 'user_pending_fine' lic %}" class="leftsidebar-nav-link active">
                    <div>
                        <i class="fas fa-hourglass-half"></i>
                    </div>
                    <span>Driver's Pending Fine</span>
                </a>
            </li>
            <li class="leftsidebar-nav-item">
                <a href="{% url 'user_paid_fine' lic %}" class="leftsidebar-nav-link">
                    <div>
                        <i class="fas fa-coins"></i>
                    </div>
                    <span>Driver's Paid Fine</span>
                </a>
            </li>
            <li class="leftsidebar-nav-item">
                <a href="{% url 'user_fine_tickets' lic %}" class="leftsidebar-nav-link">
                    <div>
                        <i class="fas fa-receipt"></i>
                    </div>
                    <span>Provision Details</span>
                </a>
            </li>
            <li class="leftsidebar-nav-item">
                <a href="{% url 'user_report' lic %}" class="leftsidebar-nav-link">
                    <div>
                        <i class="fas fa-receipt"></i>
                    </div>
                    <span>Report an Issue</span>
                </a>
            </li>
             <li class="leftsidebar-nav-item">
                <a href="{% url 'user_profile' lic %}" class="leftsidebar-nav-link">
                    <div>
                        <i class="fas fa-user"></i>
                    </div>
                    <span>Profile</span>
                </a>
            </li>
            <li class="leftsidebar-nav-item">
                <a href="{% url 'user_profile_details' lic %}" class="leftsidebar-nav-link">
                    <div>
                        <i class="fas fa-user"></i>
                    </div>
                    <span>Profile Details</span>
                </a>
            </li>
            <li class="leftsidebar-nav-item">
                <a href="{% url 'user_logout' %}" class="leftsidebar-nav-link">
                    <div>
                        <i class="fas fa-receipt"></i>
                    </div>
                    <span>Logout</span>
                </a>
            </li>
            <!--Left sidebar navigation items-->
        </ul>
    </div>
    <!-- Left sidebar navigation end here ============================================-->


    <!--==================================================================================================================================SECTION_03====================================================================================================================================-->

    <!-- Dashboard main content start here =================================================-->
    <div class="dashwrapper">
            <div class="container-fluid">
                <h1 class="mt-4">Driver's Pending Fine</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="dashboard.php">Dashboard</a></li>
                    <li class="breadcrumb-item active">Driver's Pending Fine</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i> You can sort data here
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

<table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>

        <tr>
            <th>Action</th>
            <th>Reference No</th>
            <th>Provision</th>
            <th>Vehicle No</th>
            <th>Issue Date</th>
            <th>Expire Date</th>
            <th>Court Date</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
{% if fine %}
{% for f in fine %}
        <tr>
            <td class="d-flex justify-content-start">
                <button type="button" name="view" value="View" id=""class="btn btn-info btn-xs view_data"><i class="fas fa-info-circle"></i></button>
<!--				<button type="button" name="paynow" value="Paynow" id="" class="btn btn-warning btn-xs pay_now">Pay Now <i class="fas fa-coins"></i></button>-->
                <a href="{% url 'payments_process' lic f.ref_no %}" type="button" name="paynow" value="Paynow" id="" class="btn btn-warning btn-xs pay_now">Pay Now <i class="fas fa-coins"></i></a>
			</td>
            <td>{{ f.ref_no }}</td>
            <td>{{ f.provision }}</td>
            <td>{{ f.vehicle_no }}</td>
            <td>{{ f.issued_date }}</td>
            <td>{{ f.expired_date }}</td>
            <td>{{ f.court_date }}</td>
            <td>{{ f.total_amount }}</td>
        </tr>

{% endfor %}
{% else %}
<tr>
<td colspan="8" align="center">No Pending fines</td>
    </tr>
{% endif %}
    </tbody>
</table>

                        </div>
                    </div>
                </div>
            </div>
    </div>

    <!-- Dashboard main content end here ========================================-->

    <!--View all drivers popup modal includes goes here-->
<!--    <?php -->
<!--        include 'includes/pending_fine_modal.php';-->
<!--    ?>-->

    <!--Javascripts includes goes here-->
   {% include 'includes/footer.html' %}
	<!--Javascript external goes here-->
    <script type="text/javascript" language="javascript" src="../assets/vendors/bootstrap/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
	<script>
		
		/*View function*/
		$(document).ready(function(){        
			$(document).on('click', '.view_data', function(){  
			   var did = $(this).attr("id");  
			   if(did != '')  
			   {  
					$.ajax({  
						 url:"pending_fine_view_modal",  
						 method:"POST",  
						 data:{did:did},  
						 success:function(data){  
							  $('#driver_detail').html(data);  
							  $('#dataModal').modal('show');  
						 }  
					});  
			   }            
			});  
		});
		
	</script>
	
	<script>
	//id send to payments
		$(document).on('click', '.pay_now', function(){					  
			  var did = $(this).attr("id");
			  var domain = did;
			  window.location.href="./payements_process.php?ref_no="+domain;
		 })
	</script>

    <script type="text/javascript" language="javascript" src="../assets/vendors/DataTables/01_Driver_PendingFine&PaidFine.js"></script>

</body>

</html>
<!--<?php-->
<!--}else{ -->
<!--	header("Location: login.php");-->
<!--	exit();-->
<!--}-->
<!--?>-->

